<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>LMS</title>
</head>
<body>
    <div class="linkback">
    <a href="/home" class="link">Home</a>
    <form action="/course" method="post" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" type="text" name="coursename" value="<%= coursename %>" />
        <button type="submit" class="link"><%= coursename %> </button>
    </form>
    <p class="link1"><%= chaptername %></p>  
    </div>
    <div class="back">
    <h1 class="heading"><%= chaptername %></h1>
    <p class="list">Pages</p>
    <% if (pagelist.length==0) { %>
        <p class="list">No pages yet created </p>
    <% } else { %>
        <ul>
        <% for(let i=0;i< pagelist.length; i++) { %>
            <li class="list"><%= pagelist[i].pagename %></li>
        <% } %>    
    
        </ul>
    <% } %>
    <form action="/page" method="post" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" type="text" name="coursename" value="<%= coursename %>" />
        <input type="hidden" type="text" name="chaptername" value="<%= chaptername %>" />
        <button class="button" type="submit">Create pages</button>
    </form>
</div>
</body>
</html>