<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <div class="linkback">
    <a class="link" href="/home" >Home</a>
    <p class="link1"><%= coursename %></p>
   </div>
   <div class="back">
    <h1 class="heading"><%= coursename %></h1>
    <hl/>
    <p class="list">Chapters</p>
    <% if (chapters.length==0) { %>
        <p class="list">No chapters yet created </p>
    <% } else { %>
        <ul>
        
        <% for(let i=0;i< chapters.length; i++) { %>
            <form action="/chapters1" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" type="text" name="coursename" value="<%= coursename %>" />
                <input type="hidden" type="text" name="chaptername" value="<%= chapters[i].chapter %>" />
            <button class="list cardbutton" style="margin-bottom: 20px;"><%= chapters[i].chapter %></button>
        </form> 
        <% } %>   
        
        </ul>
    <% } %>
    <form action="/chapter" method="post" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" type="text" name="coursename" value="<%= coursename %>" />
        <button class="button" type="submit">New chapter</button>
    </form>
</div>
</body>
</html>