<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Document</title>
</head>
<body>
    <div class="linkback">
    <a href="/home" class="link">Home</a>
    <form action="/viewdetails" method="post" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" type="text" name="coursename" value="<%= coursename %>" />
        <input type="hidden" type="text" name="chapter" value="<%= chapter %>" />
        <input type="hidden" type="text" name="author" value="<%= author %>" />
        <button class="link" type="submit"><%= coursename %> </button>
    </form>
    <form action="/pageslist" method="post" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" type="text" name="coursename" value="<%= coursename %>" />
        <input type="hidden" type="text" name="chapter" value="<%= chapter %>" />
        <input type="hidden" type="text" name="author" value="<%= author %>" />
        <button class="link" type="submit"><%= chapter %> </button>
    </form>
    <p class="link1"><%= page.pagename %></p>
    </div>
    <div class="back">
    <h1 class="heading"><%= page.pagename %></h1>
    <p class="contents"><%= page.content %></p>
    <div style="display: flex; flex-direction: row;">
        <form action="/mark" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" value="<%= coursename %>" name="coursename" />
            <input type="hidden" type="text" name="chapter" value="<%= chapter %>" />
            <input type="hidden" type="text" name="page" value="<%= page.pagename %>" />
            <input type="hidden" type="text" name="author" value="<%= author %>" />
    <% if (status.length==0){ %>
    <button class="button" style="width: 150px; margin-right: 10px; height: 30px;" type="submit" >Mark as Complete</button>
    <% } else { %>
    <button class="button" style="width: 150px; margin-right: 10px; height: 30px;" >Completed</button>
    <% } %>
    </div>
    </form>
    </div>
</body>
</html>