<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>LMS</title>
</head>
<body>
    <div class="linkback">
        <a href="/home" class="link">Home</a>
    </div>
    <h1 class="heading">My Report</h1>
    <div class="" style="display: flex;flex-direction: row;">
        <% for(let i=0;i< enrolled.length; i++) { %>
        <form action="/viewdetails" method="post">
        <input type="hidden" name="coursename" value="<%= enrolled[i].coursename %>" />
        <input type="hidden" name="author" value="<%= enrolled[i].author %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/> 
        <div class="cards ">
            <h1 class="head"><%= enrolled[i].coursename %></h1>
            <div class="" style="display:flex; flex-direction: row; margin-left: 20px;">
             <div style="width: 170px;">
             <h1 class="author" >number of students enrolled: <%= mynumber[enrolled[i].coursename] %></h1>
             </div>
            </div>
         </div>
            </div>
        </form>
          <% } %>
    </div>
</body>
</html>