<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Document</title>
</head>
<body>
    <div class="linkback">
    <a href="/home" class="link">Home</a>
    <form action="/course" method="post" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" type="text" name="coursename" value="<%= coursename %>" />
        <button class="link" type="submit"><%= coursename %> </button>
    </form>
    <p class="link1">Create New page</p> 
    </div>
    <div class="back">
    <h1 class="heading">New Page</h1>
    <form action="/show" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" name="coursename" value="<%= coursename %>"/>
        <input type="hidden" name="chaptername" value="<%= chaptername %>"/>
        <label for="pagetitle" class="label">Title :</label>
        <div>
        <input class="input" type="text" name="pagetitle"/>
    </div>
        <div>
        <p class="label">Chapter : </p>
        <select name="chapters" id="chapters" required>
            <option value="">None</option>
            <% for(var i=0;i< chapters.length;i++) { %>
            <option value="<%= chapters[i].chapter %>"><%= chapters[i].chapter %></option>
            <% } %>
          </select>
        </div>
        <p class="label">Content :</p>
        <textarea contenteditable="true" class="content" name="content"></textarea>
        <br>
        <button class="button" type="submit">create</button>
    </form>
    </div>
</body>
</html>